@page
@model HomeSchoolDayBook.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>

<hr />

<table class="table" id="userstable">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.AllUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-UserToEditId="@user.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-UserToDeleteId="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

