@page
@model HomeSchoolDayBook.Pages.Entries.CreateModel

@section CSS {
    <link rel="stylesheet" href="~/lib/datepicker/bootstrap-datepicker-standalone.css" />
}

@{
    ViewData["Title"] = "Create an Entry";
}

<h2>Create Entry</h2>

<partial name="EntryPartial" model="Model.EntryVM" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Entry_Date").datepicker({
                orientation: "bottom"
            });
        });

        function displayStudent() {
            var studentCheckboxes = document.getElementsByName("selectedStudents");
            for (var i = 0; i < studentCheckboxes.length; i++) {
                var studentcheckid = "student" + studentCheckboxes[i].value;
                var studentText = document.getElementById(studentcheckid);
                if (studentCheckboxes[i].checked == true) {
                    studentText.style.display = "block";
                }
                else studentText.style.display = "none";
            }           
        }

    </script>
}