@page
@model HomeSchoolDayBook.Pages.Entries.CreateModel

@section CSS {
    <link rel="stylesheet" href="~/lib/datepicker/bootstrap-datepicker-standalone.css" />
}

@{
    ViewData["Title"] = "Create New Entry";
}

<h2>@ViewData["Title"]</h2>

<partial name="EntryPartial" model="Model.EntryCreateEditVM" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}