@page
@model HomeSchoolDayBook.Pages.Entries.CreateModel

@section CSS {
    <link rel="stylesheet" href="~/lib/datepicker/bootstrap-datepicker-standalone.css" />
}

@{
    ViewData["Title"] = "Create an Entry";
}

<h2>Create Entry</h2>

<partial name="EntryPartial" model="Model.EntryVM" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Entry_Date").datepicker({
                orientation: "bottom"
            });
        });

        function displayStudentSubjectPairs() {
            var studentCheckboxes = document.getElementsByName("selectedStudents");

            var subjectCheckboxes = document.getElementsByName("selectedSubjects");

            for (var i = 0; i < studentCheckboxes.length; i++) {
                var studentcheckid = "student" + studentCheckboxes[i].value;

                for (var j = 0; j < subjectCheckboxes.length; j++) {
                    var studentSubjectcheckid = studentcheckid + "subject" + subjectCheckboxes[j].value;

                    var text = document.getElementById(studentSubjectcheckid);

                    if (studentCheckboxes[i].checked == true && subjectCheckboxes[j].checked == true) {
                        text.style.display = "block";
                    }
                    else text.style.display = "none";
                }
            }           
        }

    </script> 
}