@page
@model HomeSchoolDayBook.Pages.Entries.CreateModel

@section CSS {
    <link rel="stylesheet" href="~/lib/datepicker/bootstrap-datepicker-standalone.css" />
}

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-danger">@Model.DidNotSaveMessage</h4>

<h2>Create Entry</h2>

<partial name="EntryPartial" model="Model.EntryVM" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Entry_Date").datepicker({
                orientation: "bottom"
            });
        });

    </script>
}