@page "{id:int?}"
@model HomeSchoolDayBook.Pages.Entries.DeleteModel

@{
    ViewData["Title"] = "Delete an Entry";
}

<h2>Delete an Entry</h2>

<h3>Are you sure you want to delete this?</h3>

<partial name="EntryDetailsPartial" model="Model.Entry" />

<div>    
    <form method="post">
        <input type="hidden" asp-for="Entry.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">My Entries</a>
    </form>
</div>
