@page "{id:int?}"
@model HomeSchoolDayBook.Pages.Entries.DetailsModel

@{
    ViewData["Title"] = "Entry Details";
}

<h2>Entry Details</h2>

<partial name="EntryDetailsPartial" model="Model.Entry" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Entry.ID">Edit</a> |
    <a asp-page="./Index">My Entries</a>
</div>
