@page
@model HomeSchoolDayBook.Pages.Reports.IndexModel
@using System.Text.RegularExpressions;

@section CSS {
    <link rel="stylesheet" href="~/lib/datepicker/bootstrap-datepicker-standalone.css" />
}

@{
    ViewData["Title"] = "Create Printable Report";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form method="post" class="sidemargins" target="_blank" id="reportForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-md-2 col-sm-3 col-xs-5">
            <label asp-for="FromDate" class="control-label"></label>
            <input asp-for="FromDate" type="text" class="form-control" />
            <span asp-validation-for="FromDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 col-sm-3 col-xs-5">
            <label asp-for="ToDate" class="control-label"></label>
            <input asp-for="ToDate" type="text" class="form-control" />
            <span asp-validation-for="ToDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-8 col-sm-10">
            <label asp-for="StudentCheckBoxes" class="control-label"></label>
            <span id="studentValidationMessage" class="text-danger"></span>

            @if (!Model.StudentCheckBoxes.Any())
            {
                <br />
                <a asp-page="../Students/Create">Create New Student</a>
            }

            <div class="row">
                @foreach (var checkbox in Model.StudentCheckBoxes)
                {
                    string isChecked = checkbox.Assigned ? "checked" : "";

                    <div class="col-sm-4">
                        <label class="notbold">
                            <input type="checkbox" name="selectedStudents" value="@checkbox.ID" @isChecked />
                            @checkbox.Name
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group  col-md-8 col-sm-10">
            <label class="control-label">Choose a Report</label>
            <span id="reportValidationMessage" class=" text-danger"></span>
            <div class="row">
                @foreach (var reportView in Model.ReportViews)
                {
                    string reportNameCamel = Regex.Replace(reportView, "[^a-zA-Z]", "");
                    string reportName = Regex.Replace(reportNameCamel, "(?!^)([A-Z])", " $1");

                    <div class="col-sm-4">
                        <label class="notbold">
                            <input type="radio" name="selectedReport" value="@reportView" />
                            @reportName
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <input type="submit" value="Create Report" class="btn btn-default" />
        </div>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#FromDate").datepicker({
                orientation: "bottom"
            });

            $("#ToDate").datepicker({
                orientation: "bottom"
            });
            
            $('#reportForm').submit(function () {
                var $students = $(this).find('input[name="selectedStudents"]:checked');
                var $report = $(this).find('input[name="selectedReport"]:checked');
                if (!$students.length) {
                    $('#studentValidationMessage').html('You must select at least one Student to create a report.');
                    return false; 
                }
                if (!$report.length) {
                    $('#reportValidationMessage').html('You must select a Report.');
                    return false;
                }
            });
            
        });
    </script>
}

