@page
@model HomeSchoolDayBook.Pages.Reports.NoReportModel
@{
    ViewData["Title"] = "NoReport";
    Layout = "~/Pages/Reports/_ReportsLayout.cshtml";
}

<h2>No Report Selected.</h2>
<hr />
<h3>Please go back to the Create a Report page, and select a Report.</h3>