@using HomeSchoolDayBook.Areas.Identity.Data;

@inject SignInManager<HomeSchoolDayBookUser> SignInManager

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">Email Address</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="@ManageNavPages.DeletePersonalDataNavClass(ViewContext)"><a id="delete-data" asp-page="./DeletePersonalData">Delete Account</a></li>
</ul>
