@page
@model HomeSchoolDayBook.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>HomeSchoolDayBook</h1>
<h3>Relaxed HomeSchool Record Keeping</h3>
<hr />

@if (SignInManager.IsSignedIn(User))
{
    <partial name="IndexSignedInPartial" />
}
else
{
    <partial name="IndexNotSignedInPartial" />
}

<hr />
<address>    
    <strong>Questions? Need help? <br> 
    Contact us at:</strong> <a href="mailto:Cindy@homeschooldaybook.com">Cindy@homeschooldaybook.com</a><br />
</address>


