@page
@model HomeSchoolDayBook.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using HomeSchoolDayBook.Areas.Identity.Data;

@inject SignInManager<HomeSchoolDayBookUser> SignInManager
@inject UserManager<HomeSchoolDayBookUser> UserManager

<h2>HomeSchoolDayBook</h2>
<h4>Relaxed HomeSchool Record Keeping</h4>
<hr />
<div class="row">
    <div class="col-xs-12">
        
        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="IndexSignedInPartial" />
        }
        else
        {
            <partial name="IndexNotSignedInPartial" />
        }
    </div>
</div>
