<ul class="nav nav-pills nav-stacked">
    <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Register">Register as a new user</a></li>
</ul>
