<div>
    <h3><a asp-page="Students/Index">Manage My Students</a></h3>
    <hr />
    <h3><a asp-page="Subjects/Index">Manage My Subjects</a></h3>
    <hr />
    <h3><a asp-page="Entries/Index">Manage My Entries</a></h3>
    <hr />
    <h3><a asp-page="Reports/Index">Create a Report</a></h3>
</div>
