<ul class="nav nav-pills nav-stacked">
    <li><a asp-page="Students/Index">Manage My Students</a></li>
    <li><a asp-page="Subjects/Index">Manage My Subjects</a></li>
    <li><a asp-page="Entries/Index">Manage My Entries</a></li>
    <li><a asp-page="Grades/Index">Manage Grades</a></li>
    <li><a asp-page="Reports/Index">Create a Report</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Manage My Account</a></li>
</ul>
