@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<hr />

<h4>Cookies</h4>
<p>Cookies are pieces of information stored on a user's computer. HomeSchoolDayBook uses cookies to keep track of user information during a login session.</p>

<hr />
<h4>Privacy Policy</h4>
<p>We at HomeSchoolDayBook endeavor to keep your personal information secure, and we do not share your information with other entities.
   However, we recommend that you do not enter sensitive or personally identifying information on this website.</p>