@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div class="alert alert-success">
    <p>
        Thank you for confirming your email address.
    </p>
</div>
