@page
@model ConfirmChangedEmailModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h2>@ViewData["Title"]</h2>



<div>
    <h4 class="text-danger">@Model.ErrorMessage</h4>
    <p>
        Thank you for confirming your new email.
    </p>
</div>
