@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<div class="alert alert-info">
    <p>Please check your email. If the email address you entered is associated with a verified HomeSchoolDayBook account, you will receive
    a link to reset your password.</p>
</div>

