@page
@model HomeSchoolDayBook.Pages.Subjects.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-danger">@Model.DidNotSaveMessage</h4>

<h2>Create</h2>

<partial name="SubjectPartial" model="Model.Subject" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
