@page "{id:int?}"
@model HomeSchoolDayBook.Pages.Subjects.EditModel

@{
    ViewData["Title"] = "Edit a Subject";
}

<h2>Edit</h2>

<partial name="SubjectPartial" model="Model.Subject" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
