@page
@model HomeSchoolDayBook.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Create New Student";
}

<h2>@ViewData["Title"]</h2>
            
<partial name="StudentPartial" model="Model.Student">

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
