@page "{id:int?}"
@model HomeSchoolDayBook.Pages.Students.EditModel

@{
    ViewData["Title"] = "Edit a Student";
}

<h4 class="text-danger">@Model.DidNotSaveMessage</h4>

<h2>Edit</h2>

<partial name="StudentPartial" model="Model.Student">

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
