@page "{id:int?}"
@model HomeSchoolDayBook.Pages.Students.EditModel

@{
    ViewData["Title"] = "Edit Student";
}

<h2>@ViewData["Title"]</h2>

<partial name="StudentPartial" model="Model.Student">

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
